<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/header') %>

<main>
  <%
  gallery.forEach(function(photo){
  %>
  <figure>
    <img src="images/sm/" alt=<%= title %>>
    <figcaption><%= photo.title %> photographer <%= photo.attribution.credit %></figcaption>
  </figure>
  <%
  })
  %>
</main>

<%- include('partials/footer') %>

</body>
</html>