<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/header') %>

<main>
  <figure>
    <img src="images/md/" alt=<%= title %>>
    <figcaption><%= title %> photographer <%= attribution.credit %></figcaption>
  </figure>
</main>

<%- include('partials/footer') %>

</body>
</html>